:root {
	--padding: 8px;
	--height: 74px;
}

nav {
    background-color: #550066;
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    max-height: var(--height);
}
body {
    margin-top: calc(var(--height) + var(--padding));
}
nav ul {
    list-style: none;
    font-style: italic;
    text-shadow: 1px 1px 5px black;
}
nav li {
    display: inline-block;
    margin: var(--padding);
    margin-top: 0px;
}
nav a {
    padding: 4px;
    color: white;
}
nav img {
    margin-right: auto;
    height: calc(var(--height) - var(--padding) * 2);
    padding: var(--padding);
}
