nav {
    background-color: purple;
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    max-height: 60px;
}
body {
    margin-top: 80px;
}
nav ul {
    padding-left: 0;
    list-style: none;
}
nav li {
    display: inline-block;
    margin: 2px;
}
nav a {
    padding: 4px;
    color: white;
}
nav img {
    margin-right: auto;
    height: 50px;
    padding: 5px;
}
